
@base: white;
@background: spin(@base, -5);

body {
    background-color: @base;
}
.painel_pesquisa {
    width: 98%;
    height: 600px;
    position: relative;
}

a{
  color: white;
}

.opcoes {
    width: 96%;
    position: relative;
    float: left;
    margin: 10px 30px;
    display: inline;
}

.tab__selo {
    top: 15px;
    right: 40px;
    position: absolute;
}

label, h1 {
    line-height: 25px;
    font-family: Verdana;
    font-weight: bold;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.tb_container {
    margin: 20px 30px;
    width: 100%;
    font-family: ProximaNova-Regular,ProximaNovaA-Regular,ProximaNovaS-Regular;
    font-weight: 400;
    font-size: 28px;
    color: #fff;
}


.input_localidades {
    font-size: larger;
    width: 98%;
    font-family: inherit;
    border-radius: 5px;
}

.span_table {
    margin-top: 5px;
    margin-left: 30px;
    font-size:larger;
    color:white;
}

.table_pesquisa {
    background-color: royalblue;
    width: 90%;
    margin-bottom: 2px;
    margin-top: 8px;
    margin: 0 auto;
    height: 350px;
    border: inherit;
    padding: 5px;
    position: absolute;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 25%;
    border-radius: 10px;
}

.origem {
    width: 47%;
    position: relative;
    float: left;
    margin: 1%;
    display: inline;
}

.destino {
    width: 47%;
    position: relative;
    float: right;
    margin: 1%;
    display: inline;
}

.data_ida {
    width: 47%;
    position: relative;
    float: left;
    margin: 2%;
    display: inline;
}
.data_volta {
    display: inline;
    float: right;
    width: 45%;
    margin: 2%;
    position: relative;
}
.localidade {
    width: 98%;
    margin:2%;
    position:relative;
}
.datas {
    width: 47%;
    margin: 2%;
    position: relative;
}


.input_datas {
    font-size: larger;
    width: 100%;
    font-family: inherit;
    border-radius: 5px;
}

.btn-submit {
    margin: 0;
    min-width: 155px;
    padding: 0 22px;
    line-height: 40px;
    height: auto;
    max-height: inherit;
    background-color: #faaf3a;
    border: inherit;
    border-radius: 10px;
    float: right;
    color: white;
    font-weight:bold;
}
