
@base: white;
@background: spin(@base, -5);

body {
    background-color: @base;
}

a{
  color: white;
}

label, h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
    color: white;
}


.input_localidades{
    font-size: larger;
    width: 40%;
}

.table_pesquisa{
    background-color:blue;
    width: 80%;
    margin: 1 auto;
    height: auto;
}
.input_datas{
    font-size: medium;
}

.button.btn-submit {
    margin: 0;
    min-width: 155px;
    padding: 0 22px;
    line-height: 40px;
    height: auto;
    max-height: inherit;
}
